<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="employeeServiceImpl"
		class="com.khan.org.service.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDaoImpl"></property>
	</bean>

	<bean id="employeeDaoImpl"
		class="com.khan.org.dao.EmployeeDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<constructor-arg name="url"
			value="jdbc:mysql://localhost:3306/test"></constructor-arg>
		<constructor-arg name="username" value="root"></constructor-arg>
		<constructor-arg name="password" value="root"></constructor-arg>
	</bean>

</beans>